<div class="screen-splash">
	<h1 class="dyno-force"><span class="red">D</span><span class="yellow">Y</span><span class="blue">N</span><span class="green">O</span>-FORCE!</h1>
	<div class="container-img">
		<a ng-href="#/main">
			<img src="images/df-splash.png" class="image-splash" alt="DYNO-FORCE">
		</a>
		<div>
			<a type="button" class="btn btn-lg btn-success" ng-href="#/main">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
				<span class="go-btn">GO</span>
				<span class="glyphicon glyphicon-exclamation-sign"></span>
			</a>
		</div>
	</div>
</div>
